<ion-header>
  <ion-toolbar>
    <ion-title>Hungrydient</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar 
  animated></ion-searchbar>
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="favorites">
      <ion-label>Favorites</ion-label>
    </ion-segment-button>
  </ion-segment>
<ion-content>
  <div *ngFor="let recipe of recipes$ | async">
    <app-recipe-item [recipes]="recipe"></app-recipe-item>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="presentActionSheet()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>